<html>
<head>
  <title>Flapper News</title>
  <script src="lib/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
  <div>

    <div ng-repeat="post in posts | orderBy:'-upvotes'">
      <a ng-click="incrementUpvotes(post)">Vote</span>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
      - Number: {{post.upvotes}}
      <button ng-click="deleteItem(post)"> Delete </button>
    </div>

    <form ng-submit="addPost()">
      <input type="text" placeholder="Title" ng-model="title"></input>
      <br>
      <input type="text" placeholder="Link" ng-model="link"></input>
      <br>
      <button type="submit">Post</button>
    </form>
  </div>
</body>
</html>

